/* Estilos generales */
* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f5e6;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #448c31;
}

h4 {
    color: #448c31;
}

/* Estilos para la caja de texto */
#box {
    width: 25%;
    height: 100px;
    background-color: #c8e6c9;
    border: 1px solid #448c31;
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
    resize: none;
    /* Evita que se pueda redimensionar el textarea */
}


/* Estilos para el botón */
#button {
    background-color: #448c31;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
}

#button:hover {
    background-color: white;
    color: #448c31;
}

table th {
    text-align: left;
    /* Alinea el texto de las columnas de la tabla a la izquierda */

}