<<<<<<< HEAD
*{
    background-color:ivory;
    font-family: Arial;
}

=======
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input {
    margin-top: 0.5rem;
  }
  
  input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
  }
  

#box{
    width: 300px;
    height: 200px;
}



#button {
    background-color: rgb(131, 255, 112);
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 8px;  
    margin-right: ;
}
>>>>>>> origin/keyla
