/* Estils generals de la pàgina */
*{
    font-family: system-ui;
}

header{
    background-color: rgb(32,32,32);
    margin: 0%;
    padding: 0%;
}

body{
    margin: -22px 0px 0px 0px;
    padding: 0%;
}

h1 {
    padding: 10px;
    text-align: center;
    background-color:rgb(32,32,32);
    color: whitesmoke;
    height: 25px;    
}

nav{
    text-align: center;
    padding-bottom: 10px;
    height: 10px;
    padding-bottom: 15px;
}
a{
    color: whitesmoke;
}

footer{
    text-align: center;
    background-color:rgb(32,32,32);
    color: whitesmoke;
}*{
    font-family: system-ui;
}

.apartado {
    background-color: rgb(234, 234, 234);
    padding: 15px 0px 10px 30px; /*top right bottom left*/
    margin-bottom: 10px;
}

#margen {   
    margin: 30px 30px; /* top-bottom left-right*/
}