/*1. color general de la lletra negra*/
body {
    color: black;
}

/*2. titol nivell 1 fons blanc lletra gris*/
<<<<<<< HEAD
#titol-pagina {
    color: grey;
    background-color: white;
}

/*3. tots els strong en color verd i subratllats*/
.paragraf1 strong, .paragraf2 strong {
    text-decoration: underline;
    color: green;
}

/*4. enllaços del paràgraf2 en italica*/
.paragraf2 a {
    font-style:italic;
}

/*5. footer general del web centrat i lletra de 10px*/
footer {
    font-size: 10px;
    text-align: center;
}

/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/
=======
div > h1 {
    background-color: white;
    color: gray;
}

/*3. tots els strong en color verd i subratllats*/
.paragraf1 strong,
.paragraf2 strong {
    color: chartreuse;
    text-decoration: underline;
}

/*4. enllaços del paràgraf2 en italica*/
.paragraf2 a{
    color: #0234a8;
    font-style: italic;
}
/*5. footer general del web centrat i lletra de 10px*/
footer{
    text-align: center;
    font-size: 10px;
}
/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/
/* */
>>>>>>> 98849d4371ec4c17d9fda5eeecac13fab54293ca
