/* Estils generals de la pàgina */

/* Configura el tipo de fuente para todos los elementos en la página */
* {
    font-family: system-ui;
}

header {
    /* Estilos para la cabecera (encabezado) */
    background-color: rgb(32, 32, 32); 
    position: fixed; /* Fijar en la parte superior de la página */
    top: 0px;
    width: 100%; /* Ancho del 100% */
}

nav {
    /* Estilos para la barra de navegación */
    text-align: center;
    padding-bottom: 10px; /* Espaciado inferior */
    position: sticky; /* Posición Sicky*/
    top: 0;
}

body {
    margin: 0px; 
    padding: 0%;
}

h1 {
    /* Estilos para el título principal */
    padding: 10px;
    text-align: center;
    background-color: rgb(32, 32, 32); 
    color: whitesmoke;
    height: 20px;
}

a {
    /* Estilos para enlaces */
    color: whitesmoke;
}

li a {
    color: rgb(0, 0, 0); 
    text-decoration: none; /* Para que no tenga estilo el link */
}

.apartado {
    /* Estilos para las secciones del contenido */
    background-color: rgb(234, 234, 234); 
    padding: 2.5vh 30px; 
    margin-bottom: 10px;
}

#seccio1 {
    margin-top: 26vh; 
}

#margen {
    margin: 30px;
}

footer {
    /* Estilos para el pie de página */
    text-align: center; 
    background-color: rgb(32, 32, 32); 
    color: whitesmoke; 
    position: static; /* Posición estática */
    bottom: 0; 
    width: 100%;
}
